.Full_Header {
   position: sticky;
   top: 0;
   z-index: 100;

}

.header {
   background-color: #1190cb;
   display: flex;
   align-items: center;
   position: sticky;
   top: 0;
   z-index: 100;
}

.header2 {
   background-color: #1190cb;
   display: flex;
   align-items: center;
   position: sticky;
   top: 0;
   /* margin-left: 10px; */
   z-index: 100;
}

.header_optionLinetwo2 {
   display: flex;
   margin-left: 130px;
}

.header_logo{
   width: 125px;
   object-fit: contain;
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 18px;
}

.header_search {
   display: flex;
   flex: 1;
}

.header_searchInput {
   height: 12px;
   padding: 10px;
   border: none;
   width: 100%;
}

.header_searchIcon {
   padding: 5px;
   height: 22px !important;
   background-color: white;
}

.header_nav {
   display: flex;
   justify-content: space-evenly;
}

.header_option {
   display: flex;
   flex-direction: column;
   margin-left: 10px;
   margin-right: 10px;
}

.header_option2 {
   display: flex;
   position: sticky;
   flex-direction: column;
   margin-top: 0px;
   margin-left: 10px;
   margin-right: 10px;
}

.header_link {
   color: white;
   text-decoration: none;
}

.header_link2 {
   color: white;
   text-decoration: none;
}

.header_optionLineOne {
   font-size: 10px;
}

.header_optionLineTwo {
   font-size: 13px;
   font-weight: 800;
}

.header_Basket {
   display: flex;
   align-items: center;
}

.header_basketCout {
   margin-left: 10px;
   margin-right: 10px;
}

.header_optionLineOne2 {
   position: relative;
   font-size: 20px;
   font-weight: 500;
   margin-left: 10px;
   margin-right: 10px;
}

.header_content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   color: black;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   padding: 12px 16px;
   z-index: 1;
}

.header_products {
   position: relative;
   display: flex;
   flex-direction: column;
   margin-left: 10px;
   margin-right: 10px;
   margin-top: 25px;
   
}

.menu {
   display: none;
}








