.home {
   max-width: 1500px;
   margin-left: auto;
   margin-right: auto;
}

.home_image1 {
   width: 100%;
   mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

/* .home_image1 {
   position: absolute;
   width: 25%;
   bottom: 0;
} */

/* .home_image2 {
   width: 50%;
   margin-top: 5100px;
   margin-left: 10px;
   margin-right: 20px;
} */